<?xml version="1.0" encoding="utf-8"?>

<!-- The manifest file of the widget -->
<!-- TODO: add other configurations as needed -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wangyicheng.spamtextdetector">

    <!-- TODO: change the icon -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">

        <!-- The declaration of the widget -->
        <receiver android:name=".DetectorWidgetProvider" android:enabled="true">

            <!-- Register to receive message broadcast -->
            <intent-filter android:priority="1000">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>

            <!-- Register to receive widget update broadcast -->
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <!-- Declare where meta-data is -->
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider_info" />
        </receiver>
    </application>

    <!-- SDK requirement -->
    <uses-sdk android:minSdkVersion="8" />

    <!-- Permissions for reading texts -->
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>