<?xml version="1.0" encoding="utf-8"?>

<!-- The manifest file of the widget -->
<!-- TODO: add other configurations as needed -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wangyicheng.spamtextdetector">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">

        <receiver android:name=".DetectorWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider_info" />
        </receiver>
    </application>

    <uses-sdk android:minSdkVersion="8" />

</manifest>